anyio==3.5.0
asgiref==3.5.0
Brotli==1.0.9
certifi==2020.6.20
charset-normalizer==2.0.12
click==8.1.2
elasticsearch==7.17.1
elasticsearch-dsl==7.4.0
fastapi==0.75.0
Flask==2.1.1
Flask-Compress==1.11
h11==0.13.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
pydantic==1.9.0
python-dateutil==2.8.2
requests==2.27.1
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
tenacity==8.0.1
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.15.0
Werkzeug==2.0.3
